<li>
	{{burger_name}}
	{{#if devoured}} {{else}}
	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">Devour It!</button>
	{{/if}}
	{{#unless devoured}} {{else}}
	<button class="delete-burger" data-id="{{this.id}}">Delete</button>
	{{/unless}}
</li>